#windows {
    position: absolute;
    top: 0;
    left: 0;
    width: 5760px;
    height: 1040px;
    z-index: 0;
}

#windows > .window {
    position: absolute;
    display: flex;
    background: #EEEEEE;
    flex-direction: column;
    box-shadow: #242424 0px 0px 8px;
    min-width: 192px;
    min-height: 48px;
}

#windows > .window > .title-bar {
    background: #242424;
    color: #EEEEEE;
    display: flex;
    align-items: center;
    user-select: none;
    z-index: 1;
    flex-shrink: 0;
}

#windows > .window > .title-bar > i.icon {
    padding: 4px;
    font-size: 16px;
}

#windows > .window > .title-bar > img.icon {
    padding: 4px;
    width: 16px;
    height: 16px;
}

#windows > .window > .title-bar > .title {
    margin-left: -4px;
    padding: 4px;
    font-family: "Roboto Condensed";
    flex-grow: 1;
}

#windows > .window > .title-bar > .window-btn {
    padding: 0px 12px;
    align-self: stretch;
    display: flex;
    align-items: center;
}

#windows > .window > .title-bar > .window-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

#windows > .window > .title-bar > .window-btn:active {
    background: rgba(255, 255, 255, 0.05);
}

#windows > .window > .title-bar > .window-btn.ri-close-line:hover {
    background: #e74c3c;
}

#windows > .window > .title-bar > .window-btn.ri-close-line:active {
    background: #c0392b;
}

#windows > .window > .window-content {
    background: #EEE;
    flex-grow: 1;
    z-index: 1;
    overflow: hidden;
}

#windows > .window > .resizers {
    position: absolute;
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    z-index: 0;
}

#windows > .window > .resizers > .handle {
    position: absolute;
    width: 16px;
    height: 16px;
}

#windows > .window > .resizers > .handle.nw {
    top: 0;
    left: 0;
    cursor: nw-resize;
}

#windows > .window > .resizers > .handle.n {
    top: 0;
    left: 16px;
    width: calc(100% - 32px);
    cursor: n-resize;
}

#windows > .window > .resizers > .handle.ne {
    top: 0;
    right: 0;
    cursor: ne-resize;
}

#windows > .window > .resizers > .handle.w {
    top: 16px;
    left: 0;
    height: calc(100% - 32px);
    cursor: w-resize;
}

#windows > .window > .resizers > .handle.e {
    top: 16px;
    right: 0;
    height: calc(100% - 32px);
    cursor: e-resize;
}

#windows > .window > .resizers > .handle.sw {
    left: 0;
    bottom: 0;
    cursor: sw-resize;
}

#windows > .window > .resizers > .handle.s {
    bottom: 0;
    left: 16px;
    width: calc(100% - 32px);
    cursor: s-resize;
}

#windows > .window > .resizers > .handle.se {
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

#context {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #242424;
    color: #EEEEEE;
    min-width: 192px;
    font-family: "Roboto";
    font-size: 10pt;
    font-weight: 300;
    padding: 4px 2px;
    box-shadow: rgba(36, 36, 36, 1) 0px 0px 4px;

    animation: fade-in 0.1s ease-out forwards;
}

#context > .item {
    padding: 8px;
    user-select: none;
}

#context > .item:hover {
    background: rgba(255, 255, 255, 0.1);
}

#context > .divider {
    margin: 4px 8px;
    background: #777777;
    height: 1px;
}

#move-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}